In [1]:
connection = "mysql+pymysql://root:root@localhost/books2"

In [2]:
 ![png](books.png)

'[png]' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
SELECT books.title, favs.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));

SyntaxError: invalid syntax (3137837232.py, line 1)